/* 기본 스타일 */
body {
    margin: 0;
    background-image: url("img/cloud.avif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

#task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

#add-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#add-button:hover {
    background-color: #218838;
}

.task-area {
    margin-top: 20px;
}

.task-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    font-family: "Gaegu", sans-serif;
  font-weight: 700;
  font-size: larger;
    
}

.task-tabs div {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
   
}

.task-tabs div:hover {
    background-color: #e9ecef;
}

#under-line {
    position: absolute;
    top: 2rem;
    left: 1rem;
    width: 5%; 
    height: 2px;
    background-color: #007bff;
    transition: left 0.3s, width 0.3s;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.task-done {
    text-decoration: line-through;
    color: #888;
}

.task div {
    display: flex;
    align-items: center;
}

.task button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
    margin-left: 10px;
    transition: color 0.3s;
}

.task button:hover {
    color: #0056b3;
}

.rotate {
    color: #28a745;
}

.rotate:hover {
    color: #218838;
}

.trash {
    color: #dc3545;
}

.trash:hover {
    color: #c82333;
}
